*{
    margin: 0;
    padding: 0;
    color: #000000;
}

body{
    background-image: linear-gradient(to bottom, #dbdbdb     , #b8b8b8);
}

.main{

    width: 100%;
    
    /* background-image: linear-gradient(to right, #1a1a1b     , #6188c4); */
    background-position: center;
    background-size: cover;
    height: auto;
}
.nav{
    height: 75px;
    background: #a5a5a5;
    padding-bottom: 12px;
    box-shadow: 0px 0px 8px 1px rgb(0, 0, 0);
    transition: all 0.4s ease-in-out;
}


.navbar{
    width: 1200px;

    height: 75px;
    margin: auto;
}

.icon{
    width: 175px;
    float: left;
    height: 70px;
}

.logo{
    color: rgb(142, 7, 175);
    font-size: 60px;
    font-family: cursive;
    padding-left: 20px;
    float: left;
    padding-top: 10px;
    margin-top: -15px;
}

.menu{
    width: 425px;
    float: left;
    height: 70px;
}

ul{
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
}

ul li{
    list-style: none;
    margin-left: 55px;
    margin-top: 38px;
    font-size: 18px;
    transition: font-size 0.4s ease-in-out;
}


ul li a{
    text-decoration: none;
    color: #ffffff;
    font-family: Arial;
    font-weight: bolder;
    transition: 0.4s ease-in-out;
}

ul li a:hover{
    color: rgb(142, 7, 175);
}

.search{
    width: 330px;
    float: left;
    margin-left: 270px;
    margin-top: 15px;
}

.srch{
    font-family: 'Times New Roman';
    width: 200px;
    height: 40px;
    background: transparent;
    border: 2px solid #ffffff;
    margin-top: 13px;
    color: rgb(0, 0, 0);
    border-right: none;
    font-size: 16px;
    float: left;
    padding: 10px;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
}


.btn{
    width: 100px;
    height: 40px;
    background: transparent;
    border: 2px solid #ffffff;
    margin-top: 13px;
    color: rgb(0, 0, 0);
    font-size: 16px;
    font-weight: bold;
    border-bottom-right-radius: 5px;
    border-bottom-right-radius: 5px;
    transition: 0.2s ease;
    cursor: pointer;
}
.btn:hover{
    color: rgb(255, 255, 255);
    font-weight: bolder;
    font-size: 17px;
    background: rgb(132, 9, 163);
}

.btn:focus{
    outline: none;
}

.srch:focus{
    outline: none;
}


.content{
    width: 65rem;
    height: auto;
    margin: auto;
    color: #fff;
    position: relative;
}

.content h1{
    font-family: 'Times New Roman';
    font-size: 50px;
    padding-left: 20px;
    margin-top: 9%;
    letter-spacing: 2px;
    color: #07615f;
}

.content span{
    color: #07615f;
    font-size: 65px;
}

.content .par{
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 25px;
    margin-top: 25px;
    font-family: Arial;
    letter-spacing: 1.2px;
    line-height: 30px;
    text-align: justify;
    overflow: hidden;
}



.content .cn{
    width: 180px;
    /* height: 40px; */
    padding: 18px;    
    background: transparent;
    border: 3px solid rgb(142, 7, 175);
    color: rgb(0, 0, 0);
    margin-bottom: 10px;
    margin-left: 20px;
    font-size: 20px;
    font-weight: bold;
    border-radius: 10px;
    cursor: pointer;
    transition: .4s ease;
    
}

.content .cn a{
    text-decoration: none;
    color: white;
    transition: .3s ease;
}

.cn:hover{
    background-color: rgb(142, 7, 175);
    color: rgb(255, 255, 255);
}

.content .cn a:hover{
    text-decoration: none;
    color: rgb(0, 0, 0);
}




/* Navbar responsive  */
@media screen and (max-width:1200px) {
    /*Normal Screen*/
    .nav{
        height: 160px;
        margin-left: -20px;
        margin-right: 20px;
  
    }
    .navbar{
        width: 100%;
        height: 100px;
    }
    ul{
        margin-left: 30px;
    }   
    ul li{
        margin-left: 60px;
    }
    ul li a{
       font-size: 1.6vw; 
    }
    .search{
        margin-top: 3px;
        margin-left: 290px;
    }
    .srch{
        height: 40px;
        width: 190px;
        font-size: 14px;
    }
    .btn{
        height:40px;
        width: 80px;
    }
    .content{
        width: 100%;
    }
    .content h1, .content span{
        font-size: 4.5vw; 
    }
    .content .par{
        width: 90%;
        font-size: 1.5vw;
    }
    .content .cn{
        width: 18%;
        height: 5.5vw;
        font-size: 1.8vw;
        margin-bottom: 4.0vw;
    }
    .content a{
        font-size: 1.6vw
    }   
 
}

@media screen and (max-width:1170px) {
    /*Login-box*/
    .main{
        padding-left: 20px;
        /* remove height 180vh from here  */
    }     
    
}
@media screen and (max-width: 830px){
    /*For tablet*/
   
    .logo{
        margin-left: 240px;
        width: 100%;
        margin-top: 15px;
        font-size: 5vw;
    }
    .menu{
        width: 100%;
    }
    ul{
        margin-top: -5px;
        margin-left: 5px;
    }
    ul li{
        margin-left: 60px;
    }
    ul li a{
       font-size: 2vw; 
    }
    .search{
        margin-top: -20px;
        margin-left: 60px;   
    }   
    .srch{
        height: 30px;
        width: 160px;
        font-size: 12px;
    }
    .btn{
        height:30px;
        width: 70px;
    }
    .main{
        padding-left: 20px;
        /* height: 180vh; */
    }
    .content{
        margin-top: 120px;
        width: 80%;   
        margin-left: 40px;  
    }
    .content h1, .content span{
        font-size: 6vw; 
    }
    .content .par{
        width: 90%;
        font-size: 1.8vw;
    }
    .content .cn{
        width: 25%;
        height: auto;
        font-size: 2vw;
        margin-bottom: 0px;
    }
    .content a{
        font-size: 2vw
    }

    
}

@media screen and (max-width: 600px){
    /*IPAD*/
    .content{
        margin-top: 80px;
        margin-left: 20px;
    }
    .search{
        margin-top: -40px;
        margin-left: 42px;
    }
    .logo{
        margin-left: 180px;
        font-size: 4vw;
    }
    ul{
        margin-top: -25px;
        margin-left: -5px;
    }
    ul li {
        margin-left: 50px;
    }
    ul li a{
        font-size: 2vw;
    }   
}

@media screen and (max-width: 450px){
    /*mobile*/
    .logo{
        margin-left: 140px;
        font-size: 4vw;
    }
    ul{
        margin-top: -25px;
    }
    ul li {
        margin-left: 32px;
    }
    ul li a{
        font-size: 2vw;
    }  
    .search{
        margin-top: -40px;
        margin-left: 38px;
    } 

}
#totalsub{
    margin-top: 50px;
}
.containerall{
    display: flex;
    justify-content: center;
}
.containersidenavbar{
    padding: 20px;
    width: 35rem;
    border-right: 2px solid black;
    box-shadow: 9px 0 15px -10px black;
    text-align: justify;
    background-color: rgb(136, 127, 138);

}
/* .containersidenavbar{
    float: left;
    position:fixed;
    left: 0;
    padding: 20px;
    width: 20rem;
    height:120vh;
    z-index: 99999;
    border-right: 2px solid black;
    box-shadow: 9px 0 15px -10px black;
    text-align: justify;
    background-color: rgb(136, 127, 138);

} */
.containersidenavbar img{
    display: block;
    height: 120px;
    margin: 25px auto;
    border: 3px solid black;
    border-radius: 50%;


}


.containersidenavbar .bttonn{

    width: 90%;
    /* height: 40px; */
    padding: 18px;    
    background: transparent;
    border: 3px solid rgb(142, 7, 175);
    color: rgb(0, 0, 0);
    margin-bottom: 19px;
    margin-left: 20px;
    font-size: 20px;
    font-weight: bold;
    border-radius: 10px;
    cursor: pointer;
    transition: .4s ease;
    
}

.bttonn a{
    text-decoration: none;
    color: white;
    transition: .3s ease;
}

.bttonn:hover{
    background-color: rgb(142, 7, 175);
    color: rgb(255, 255, 255);
}

.bttonn a:hover{
    text-decoration: none;
    color: rgb(0, 0, 0);
}

.containersidenavbar p{
    text-align: center;
    font-size: 1.4rem;
    color: white;
    margin-bottom: 20px;
}
.containerdatabaser{
    width: 65rem;
}


/* Sub Number */
.totalsub{
    /* background-color: #000; */
    width: 86%;
    margin: 25px auto;
}
.subText{
    font-weight: bolder;
    color: rgb(0, 0, 0);
    animation: 2s linear infinite condemned_blink_effect;
    font-family: cursive;
}

@keyframes condemned_blink_effect {
  0% {
    visibility: hidden;
  }

  20% {
    visibility: visible;
  }
 
  40% {
    visibility: hidden;
  }

  60% {
    visibility: visible;
  }

  80% {
    visibility: hidden;
  }
 
  100% {
    visibility: hidden;
  }
}


/* Table heading  */

.kindOfAheading{
    text-align: center;
    font-family: 'Combo';
    font-size: 3.8rem;
    padding: 12px;
    color: rgb(0, 0, 0);
    text-shadow:1px 5px 5px #313131;
    letter-spacing: .1em;
}


/* Table design */

table{
    border-collapse: collapse;
    border-radius: 5px;
    margin: auto;
    width: 50rem;
}
th,td{
    border: 1px solid #a7a7a7;
    padding: 10px 35px ;
    text-align: center;
    color: rgb(0, 0, 0);
}

th{
    text-transform: uppercase;
    font-weight: bolder;
    font-size: 20px;
    color: rgb(255, 255, 255);
    background-color: #7f46a5;
    padding: 15px;
}

td{
    font-size: 18px;
    padding: 10px;
    transition: all 0.4s ease;

}
tr{   
    background-color: rgb(201, 194, 194);
    transition: all 0.4s ease;
}
tr:hover{
    background-color: #e0e0e0;
    box-shadow: 0 0 8px 1px black;
}
td:hover{
    background-color: #fffafa;
    color: black;
}

.table{
    background-color: black;
    width: 50rem;
    margin: auto;
    /* padding: 20px; */
    /* border-radius: 20px; */
    margin-top: 4vh;
    margin-bottom: 10vh;
    /* box-shadow: 0 0 20px 3px rgb(31, 31, 31); */
    transition: all 0.4s ease-in-out;
}
.table:hover{
    box-shadow: 5px 10px 13px 3px rgb(95, 95, 95);
}

footer{
    background: #a5a5a5;
    color: white;
    width: 97%;
    padding: 19px 20px;
    font-size: 3.3vh;
    font-weight: bolder;
    border-top: 1px solid black;
    box-shadow: 0 0 5px 0px black;
}
footer .foot{
    color: rgb(0, 0, 0);
    font-size: large;
}
footer .foot a{
    color: rgb(0, 0, 0);
    font-size: large;
}

@media screen and (max-width:1300px) {
    .subText{
        text-align: center;
    }


    .kindOfAheading{
        font-size: 3.4rem;
        padding: 10px;
    }
    
    
    /* Table design */
    
    table{
        width: 30rem;
    }
    th,td{
        padding: 10px 35px ;
    }
    
    th{
        font-weight: bolder;
        font-size: 20px;
        padding: 15px;
    }
    
    td{
        font-size: 18px;
        padding: 10px;
    
    }

    .table{
        width: 30rem;
        margin-top: 4vh;
        margin-bottom: 10vh;
    }
    .containersidenavbar{
        padding: 20px;
        width: 22rem;
        border-right: 2px solid black;
        box-shadow: 9px 0 15px -10px black;
        text-align: justify;
        background-color: rgb(114, 98, 117);
    
    }
    .containersidenavbar p{
        color: white;
    }
    .containerdatabaser{
        width: 52rem;
    }
    footer{
        width: 96.5%;
    }
}
@media screen and (max-width:950px) {
    .subText{
        text-align: center;
    }


    .kindOfAheading{
        font-size: 2.5rem;
        padding: 8px;
    }
    
    
    /* Table design */
    
    table{
        width: 30rem;
    }
    th,td{
        padding: 10px 35px ;
    }
    
    th{
        font-weight: bolder;
        font-size: 15px;
        padding: 15px;
    }
    
    td{
        font-size: 11px;
        padding: 10px;
    
    }

    .table{
        width: 30rem;
        margin-top: 2vh;
        margin-bottom: 5vh;
    }
}
@media screen and (max-width:830px) {
    .subText{
        text-align: center;
        font-size: 1rem;
    }


    .kindOfAheading{
        font-size: 2rem;
        padding: 5px;
    }
    
    
    /* Table design */
    
    table{
        width: 30rem;
    }
    th,td{
        padding: 10px 35px ;
    }
    
    th{
        font-weight: bolder;
        font-size: 15px;
        padding: 15px;
    }
    
    td{
        font-size: 11px;
        padding: 10px;
    
    }

    .table{
        width: 30rem;
        margin-top: 2vh;
        margin-bottom: 5vh;
    }
    .containersidenavbar{
        padding: 20px;
        width: 16rem;
        border-right: 2px solid black;
        box-shadow: 9px 0 15px -10px black;
        text-align: justify;
        background-color: rgb(114, 98, 117);
    
    }
    .containersidenavbar p{
        color: white;
    }
    .containerdatabaser{
        width: 42rem;
    }
}


@media screen and (min-width:1460px) {
    footer{
        width: 97.2%;
    }
}


@media screen and (min-width:1500px){
    .subText{
        text-align: center;
    }
} 

@media screen and (min-width:1760px) {
    footer{
        width: 98.4%;
        font-size: 1.8vh;
    }

}
@media screen and (min-width:2760px) {
    footer{
        width: 100%;
    }

}