/* preloader */
#preloader{
    background: rgb(255, 255, 255) url(../Images/Preloder/preloader1.gif) no-repeat center center;
    background-size: 9%;
    height: 100vh;
    width: 100%;
    position: fixed;
    z-index: 100;
}